/*
Theme Name: Tycho Entertainment
Theme URI: http://www.tychoentertainment.com
Description: Tycho Entertainment wordperss theme
Version: 1.0.0
Author: Mahmood Zamani
Author URI: http://www.mahmoodzamani.ir
*/

@import 'main.css';