//- Typography
$icon-font: 'icomoon';
$Futura: 'Futura';
$LucidaGrande: 'lucida';
$Avenir: 'Avenir';
$Avenir-Next: 'Avenir Next';
$Fonts : $Avenir, Droid sans, Helvetica, sans-serif;
$ms-base: 1em;
//$ms-ratio: $golden;
$font-base: 16;


//- colors
$white: #FFFFFF;
$white-light: #fcfcfc;
$gray-light: #d8d8d8;
$gray-light2: #e3e3e3;
$gray: #9c9c9c;
$gray2: #9b9b9b;
$gray-dark: #726c74;
$gray-darker: #6b6b6b;
$black: #000000;
$black2: #141720;
$black2-light: #2b2b2b;
$second-black: #333333;
$black-light: #5e5e5e;
$black-light2: #5d5f65;
$second-black-light: #4a4a4a;
$blue: #2387f5;
$blue-light: #91aeed;
$blue-accent: rgba(10, 52, 100, 0.9);
$purple: #152844;
$purple-dark: #0a305e;
$persian-green3: #839eb1;
$persian-green2: #849eb0;
$pesian-green: #a4a4a4;
$persian-green-light: #7787a9;
$red: #e86d3b;
$orange: #f6a623;
