@import "vendor/modular-scale/ratios";

$ms-base:  1em      !default;
$ms-ratio: $golden  !default;
$ms-range: null     !default;
$ms-fluid: true     !default;

@import "vendor/modular-scale/tests";

@import "vendor/modular-scale/pow";
@import "vendor/modular-scale/calc";
@import "vendor/modular-scale/generate-list";
@import "vendor/modular-scale/sort-list";
@import "vendor/modular-scale/round-px";
@import "vendor/modular-scale/function";
//@import "vendor/modular-scale/unction-list";

@import "vendor/modular-scale/respond";
